.container {
  padding: 0 16px;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  
  @media screen and (max-width: 1199px) and (min-width: 700px){
    width: 700px;
  }
  
  @media screen and (max-width: 699px) and (min-width: 400px){
    width: 400px;
  }
  @media screen and (max-width: 399px) {
    width: 320px;
  }
}