.theme-btn {
  padding: 0;
  @media screen and (min-width: 1200px) {
    width: 50px;
    height: 50px;   
  }
  @media screen and (min-width: 700px){
    width: 50px;
    height: 50px;  
  }
  @media screen and (max-width: 699px) {
    width: 40px;
    height: 40px;  
  }
}

.theme-btn[data-theme="light"] .theme-btn__svg > * {
  fill: #695F59;
}

.theme-btn[data-theme="light"] .theme-btn__svg > .theme-btn__accent-svg-path {
  fill: #877A72;
}

.theme-btn[data-theme="light"] .theme-btn__svg:hover > * {
  fill: #5B46AE;
  filter: drop-shadow(2px 2px 2px #5B46AE);
}

.theme-btn[data-theme="light"] .theme-btn__svg:hover > .theme-btn__accent-svg-path {
  fill: #48DFB7;
  filter: drop-shadow(2px 2px 2px #5B46AE);
}

.theme-btn[data-theme="dark"] .theme-btn__svg > * {
  fill: #fff;
}
.theme-btn[data-theme="dark"] .theme-btn__svg:hover > * {
  fill: #48DFB7;
}