.header {
    padding: 16px 0 24px;
}
.header[data-theme="light"] {
    background-color: #D2C8BE;
}

.header[data-theme="dark"] {
    background-color: #5B46AE;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 24px;
    @media screen and (max-width: 699px){
    display: none;
  }
}

.header__burger-btn {    
  @media screen and (min-width: 700px) {
    display: none;
  }
}

.burger-btn__svg[data-theme="light"] > * {
    fill: #5B46AE;
}

.burger-btn__svg[data-theme="dark"] {
    fill: #fff;
}