.header {
    padding: 16px 0 24px;
}
.header[data-theme="light"] {
    background-color: #D2C8BE;
}

.header[data-theme="dark"] {
    background-color: #5B46AE;
}

.header__container {
    display: flex;
    justify-content: space-between;
}
