* {
  box-sizing: border-box;
  transition: all .3s ease;
}
:root {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  text-decoration: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: unset;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app[data-theme="dark"] {
  background-color: black; 
}

#root, #app {  
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}
