* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: inherit;
}
button {
  border: none;
  background-color: unset;
}

body {
  transition: all .5s;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body[data-theme="dark"] {
  background-color: black; 
}

.btn {
  cursor: pointer;
}
