.login-btn {
  font-weight: 500;
  line-height: 100%;
  border-radius: 20px;
  padding-top: 12px;
  @media screen and (min-width: 700px) {
    width: 144px;
    height: 48px;
    font-size: 24px;
  }
  @media screen and (max-width: 699px)  {
    width: 96px;
    height: 40px;
    font-size: 16px;
  }
}

.login-btn[data-theme="light"]:hover, .login-btn[data-theme="dark"]:hover {
  background-color: #48DFB7;
  border: solid 1px #5B46AE;
  color: #5B46AE;
  filter: drop-shadow(2px 4px 4px #5B46AE);
}

.login-btn[data-theme="light"] {
  background-color: #877A72;  
  border: solid 1px #877A72;
  color: #fff;
}
.login-btn[data-theme="dark"] {
  
  background-color: #fff;  
  border: solid 1px #fff;
  color: #5B46AE;
}